NEXT_PUBLIC_SUPABASE_URL=https://aoutenznnqgdjghudfqj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvdXRlbnpubnFnZGpnaHVkZnFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2MzU2MTcsImV4cCI6MjEwNTIxMTYxN30.DRJiZ1Om6K7NhcoQN_VNodBmVmZe9KyVgg3yvAnLwAY